<p id="notice"><%= notice %></p>

<h1>Tag: <%= @tag.name %> </h1>

<br>

<strong>Tagged Tasks</strong>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Date</th>
      <th>Tags</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Task.all.each do |task| %>
      <% if task.user == current_user and task.tags.include?(@tag) %>
        <tr>
          <td><%= link_to task.name, task %></td>
          <td><%= task.description %></td>
          <td><%= task.date %></td>
          <td>
            <% task.tags.each do |tag| %>
              <%= tag.name %>
            <% end %>
          </td>
        
          <% if task.completed %>
            <td><%= "Completed" %></td>
            <td>
              <%= form_for(task) do |form| %>
                <%= form.check_box :completed, :checked => false, :style => 'visibility: hidden' %>
                <%= form.submit "Mark as Incomplete" %>
              <% end %>
            </td>
          <% else %>
            <td><%= "Incomplete" %></td>
            <td>
            <%= form_for(task) do |form| %>
                <%= form.check_box :completed, :checked => true, :style => 'visibility: hidden' %>
                <%= form.submit "Mark as Complete" %>
              <% end %>
            </td>
          <% end %>

          <td><%= link_to 'Edit', edit_task_path(task) %></td>
          <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Delete', @tag, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', tags_path %>
